/* 
	Vermelho: #C9191B
	Vermelho Dark: #860E10
	Cinza: #706A6A
	Verde: #4A9723
	CinzaBG: #F0EFED
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F0EFED;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

header {
    height: 100px;
    background-color: #860E10;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

header nav {
    height: 100px;
    padding: 0 100px;
}

header nav ul {
    height: 100px;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: auto;
    width: 400px;
    justify-content: space-between;
}

header nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}

main {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

section {
    width: 100%;
    padding: 80px 0;
}

section h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    color: #706A6A;
    text-transform: uppercase;
    text-align: center;
}

section h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #706A6A;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.wrapper-post {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.coluna-post {
    width: 362px;
    height: auto;
    min-height: 600px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(59,89,178,0.15);
}

.post-content {
    margin-top: 30px;
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
}

.post-date {
    width: 45px;
    border-right: 1px solid #ebebeb;
}

.post-day {
    font-size: 15px;
    font-weight: 600;
    color: #303030;
    display: flex;
    height: 26px;
    align-items: center;
    justify-content: center;
}

.post-month {
    font-size: 16px;
    font-weight: 400;
    color: #706A6A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-info {
    width: 268px;
}

.post-info h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #706A6A;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    min-height: 48px;
    height: auto;
}

.btn-leiamais {
    margin-top: 15px;
    height: 30px;
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #C9191B;
}

.post-info p {
    color: #706A6A;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    min-height: 216px;
    height: auto;
}

.divider {
    height: 1px;
    background-color: #4A9723;
    width: 45px;
    margin: 15px auto;
    display: block;
    text-align: center;
}

footer {
    min-height: 535px;
    height: auto;
    background-color: #860E10;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer iframe {
    margin-bottom: 30px;
}

.wrapper-footer {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
}

.coluna-footer {
    width: 362px;
    height: auto;
    min-height: 300px;
}

.coluna-footer h4 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px;
}

.coluna-footer p {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
}

.coluna-footer p a {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}

@media (min-width: 1024px) and (max-width: 1230px){
	main,
	.wrapper-footer{
		width: 968px;
	}
	.post-info{
		width: 210px;
	}
	.post-info p{
		font-size: 14px;
		min-height: 239px;
	}
	.post-info h4{
		min-height: 69px;
	}
	.coluna-post{
		width: 300px;
	}
	.coluna-footer{
		width: 300px;
	}
	.coluna-footer p{
		font-size: 14px;
	}
	footer iframe{
		width: 100% !important;
		height: 300px !important;
	}
}

@media (min-width: 768px) and (max-width: 1023px){

}